<h1>Search page</h1>
<div class="container search-form mt-4">
<form method="POST">
  <div class="mb-3">
    <label for="search-input" class="form-label">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp">
    <input type="text" name="ref" class="form-control" id="search-input" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>
